Package: com.0xkuj.notificationsgroupcount
Name: NotificationsGroupCount
Version: 1.0.6
Architecture: iphoneos-arm
Description: Count those notifications inside Apple notifications grouping!
Maintainer: 0xkuj
Author: 0xkuj
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
