<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Tweak Activation</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.0xkuj.notificationsgroupcountprefs</string>
			<key>key</key>
			<string>isTweakEnabled</string>
			<key>label</key>
			<string>Tweak Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>BADGE STYLE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.0xkuj.notificationsgroupcountprefs</string>
			<key>key</key>
			<string>isCustomColors</string>
			<key>label</key>
			<string>Custom Colors</string>
			<key>nestedEntryCount</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>NGCColorPickerCell</string>
			<key>fallback</key>
			<string>FFFFFF</string>
			<key>key</key>
			<string>badgeBackgroundColor</string>
			<key>supportAlpha</key>
			<true/>
			<key>defaults</key>
			<string>com.0xkuj.notificationsgroupcountprefs</string>
			<key>label</key>
			<string>Badge Background Color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>NGCColorPickerCell</string>
			<key>fallback</key>
			<string>FFFFFF</string>
			<key>key</key>
			<string>badgeTextColor</string>
			<key>supportAlpha</key>
			<true/>
			<key>defaults</key>
			<string>com.0xkuj.notificationsgroupcountprefs</string>
			<key>label</key>
			<string>Badge Text Color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.0xkuj.notificationsgroupcountprefs</string>
			<key>key</key>
			<string>badgeStyle</string>
			<key>validTitles</key>
			<array>
				<string>Dynamic Icon Colors</string>
				<string>Dynamic Wallpaper Colors</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>BADGE SHADOW OPACITY</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Badge Shadow (Default: 0.8)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.8</real>
			<key>min</key>
			<real>0.0</real>
			<key>max</key>
			<real>1.0</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>10</integer>
			<key>defaults</key>
			<string>com.0xkuj.notificationsgroupcountprefs</string>
			<key>key</key>
			<string>shadowOpacity</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>MISCELLANEOUS</string>
			<key>footerText</key>
			<string>Restore to default settings - will restore your tweak preferences back to first-time configuration</string>
		</dict>
		<dict>
			<key>action</key>
			<string>defaultsettings:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>respring.png</string>
			<key>label</key>
			<string>Restore to default settings</string>
		</dict>
		<dict>
			<key>action</key>
			<string>respring:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>respring.png</string>
			<key>label</key>
			<string>Respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ABOUT ME</string>
		</dict>
		<dict>
			<key>action</key>
			<string>donationLink</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>donate.png</string>
			<key>label</key>
			<string>Buy me a beer ;)</string>
		</dict>
		<dict>
			<key>action</key>
			<string>openTwitter</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>Twitter.png</string>
			<key>label</key>
			<string>Follow me on Twitter</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Made by: 0xkuj | v1.0.0</string>
		</dict>
	</array>
	<key>title</key>
	<string>NotificationsGroupCount</string>
</dict>
</plist>
